<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aurora Monitor</title>
  <link href="../static/bootstrap.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-svg.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LCYV5QDN4X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LCYV5QDN4X');
  </script>
</head>

<body>
  <nav class="navbar navbar-default"></nav>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Jesus Jayaro</a>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a rel="noopener" class="nav-link" href="../aurora"> Aurora Monitor</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div id="plot" hx-get="/plot" hx-trigger="load"></div>
    <div id="plot-updates" hx-get="/plot_update/2" hx-trigger="every 60s"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
      <button class="btn btn-secondary" hx-trigger="click" hx-get="/plot_update_hx/2" hx-swap="outerHTML" hx-target="#plot-updates">2h</button>
      </div>
      <div class="col text-center">
      <button class="btn btn-secondary" hx-trigger="click" hx-get="/plot_update_hx/24" hx-swap="outerHTML" hx-target="#plot-updates">24h</button>
      </div>
      <div class="col text-center">
      <button class="btn btn-secondary" hx-trigger="click" hx-get="/plot_update_hx/168" hx-swap="outerHTML" hx-target="#plot-updates">7d</button>
      </div>
    </div>
  </div>

  <!-- <div id="graph"></div>

  <script text="text/javascript">
// Generate sample data
const data = [
  { x: [1, 2, 3], y: [4, 2, 5], type: 'scatter', mode: 'markers' }
];

// Set up the layout for the graph
const layout = {
  clickmode: 'event+select'
};

// Create the graph
const graphElement = document.getElementById('graph');
Plotly.newPlot(graphElement, data, layout);

// Function to handle click events
function handleClick(eventData) {
  const pointData = eventData.points[0].data;
  
  // Send the clicked data point to the server via a POST request using htmx
  htmx.ajax({
    url: '/capture-data',
    method: 'post',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ data: pointData }),
    responseType: 'text',
    onLoad: function (xhr, elt) {
      console.log(xhr.response); // Print the response from the server
    },
    onError: function (error) {
      console.error('Error:', error);
    }
  });
}

// Add event listener for click events on data points
graphElement.on('plotly_click', handleClick); -->


  </script>
</body>
</html>

