<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aurora Monitor</title>
  <link href="../static/bootstrap.css" rel="stylesheet">
  <script src="../static/plotly.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LCYV5QDN4X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LCYV5QDN4X');
  </script>
</head>

<body>
  <nav class="navbar navbar-default"></nav>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Jesus Jayaro</a>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a rel="noopener" class="nav-link" href="../aurora"> Aurora Monitor</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div id="plot" hx-get="/plot" hx-trigger="load"></div>
    <div id="plot-updates" hx-get="/plot_update/2" hx-trigger="every 60s"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
      <button class="btn btn-secondary" hx-trigger="click" hx-get="/plot_update_hx/2" hx-swap="outerHTML" hx-target="#plot-updates">2h</button>
      </div>
      <div class="col text-center">
      <button class="btn btn-secondary" hx-trigger="click" hx-get="/plot_update_hx/24" hx-swap="outerHTML" hx-target="#plot-updates">24h</button>
      </div>
      <div class="col text-center">
      <button class="btn btn-secondary" hx-trigger="click" hx-get="/plot_update_hx/168" hx-swap="outerHTML" hx-target="#plot-updates">7d</button>
      </div>
    </div>
  </div>
</body>
</html>