<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aurora Monitor</title>
  <link href="../static/bootstrap.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Jesus Jayaro</a>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a target="_blank" rel="noopener" class="nav-link" href="../multiple"><i class="bi bi-twitter"></i> Aurora Monitor</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div id="div2" hx-get="/plot" hx-trigger="every 60s">
      <script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-svg.js"></script>
      <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
      <div hx-get="/plot" hx-trigger="load">
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>